In [1]:
import pandas as pd
import zipfile

In [2]:
controversial = pd.read_csv('controversial_questions_annotated_id_removed.tsv', sep ='\t')

In [3]:
controversial.to_csv('controversial_questions_annotated_id_removed.csv',index=False)

In [4]:
controversial.head()

   qid   r1    r2  Controversial question
0    3  1.5  1.75                   False
1   19  1.5  2.00                   False
2   30  1.8  2.60                   False
3   31  3.6  4.20                   False
4   32  3.2  4.00                   False

In [5]:
zf = zipfile.ZipFile('questions.csv.zip') 
df = pd.read_csv(zf.open('questions.csv'))

In [6]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [7]:
controversial_true = controversial[controversial['Controversial question'] == True]
merged_qid1 = pd.merge(controversial_true, df, left_on='qid', right_on='qid1', how='inner')
result_qid1 = merged_qid1[['qid', 'question1']].rename(columns={'question1': 'question'})

In [9]:
merged_qid2 = pd.merge(controversial_true, df, left_on='qid', right_on='qid2', how='inner')
result_qid2 = merged_qid2[['qid', 'question2']].rename(columns={'question2': 'question'})
final_result = pd.concat([result_qid1, result_qid2], ignore_index=True)

In [10]:
final_result.drop_duplicates(inplace=True)
final_result.sort_values(by='qid', inplace=True)
final_result.to_csv('controversial_questions.csv', index=False)

In [11]:
least_controversial = controversial[(controversial['r1'] <= 1.0)&(controversial['r2'] <= 1.0)]
merged_qid1 = pd.merge(least_controversial, df, left_on='qid', right_on='qid1', how='inner')
result_qid1 = merged_qid1[['qid', 'question1']].rename(columns={'question1': 'question'})

In [12]:
merged_qid2 = pd.merge(least_controversial, df, left_on='qid', right_on='qid2', how='inner')
result_qid2 = merged_qid2[['qid', 'question2']].rename(columns={'question2': 'question'})
final_result = pd.concat([result_qid1, result_qid2], ignore_index=True) 
final_result.drop_duplicates(inplace=True)
final_result.sort_values(by='qid', inplace=True)
final_result.to_csv('least_controversial_questions.csv', index=False)